* {
    transition-timing-function: ease-in-out;
    all: unset;
}

.TimeWidget {
    background: #282828;
    min-width: 42px;
    padding: 18px 0;
    border: solid 1px #7c6f64;
    border-left: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.DateLabel {
    font-family: Iosevka;
    font-size: 12px;
    margin: -3px;
}
.TimeLabel {
    font-family: Iosevka;
    font-size: 24px;
    margin: -2px;
}

.NotificationContainer {
    padding: 4px;
    min-width: 420px;
}
.NotificationEmpty {
    padding: 4px;
    min-width: 420px;
}
.NotificationContainerActive {
    padding: 4px;
    background: #282828;
}
.NotificationSeparator {
    min-width: 400px;
    margin: 10px;
    min-height: 1px;
    background: #ebdbb2;
}
.Notification {
    min-width: 420px;
    background-color: #504945;
    border-radius: 2px;
    transition-duration: 80ms;
    margin-bottom: 6px;
}
.Notification:hover {
    background-color: #665c54;
}
.Notification:active {
    background-color: #928374;
}
.NotificationIconContainer {
    margin: 4px;
    min-width: 42px;
    min-height: 42px;
}
.NotificationIcon {
    font-size: 42px;
}
.NotificationSummary {
    margin: 4px;
    margin-bottom: -4px;
    font-family: Iosevka;
    font-weight: bold;
    font-size: 17px;
}
.NotificationBody {
    margin: 4px;
    margin-bottom: 7px;
    font-family: Iosevka;
    font-size: 14px;
}
.NotificationAction {
    font-family: Iosevka;
    font-size: 20px;
    min-width: 25px;
    min-height: 20px;
    margin-right: 4px;
    margin-top: 4px;
    background: #665c54;
    border-radius: 2px;
    transition-duration: 80ms;
}
.NotificationAction:hover {
    background: #7c6f64;
}
.NotificationAction:active {
    background: #ebdbb2;
    color: #928374;
}

.OSDContainer {
    margin-bottom: 180px;
    min-width: 240px;
    min-height: 42px;
    background: #504945;
    border-radius: 2px;
}
.OSDText {
    font-family: Iosevka;
    min-width: 240px;
    min-height: 42px;
    color: #ebdbb2;
    font-size: 16px;
}

