@use "./theme";

.notifd-popup {
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: theme.$radius;
}
.notification-container {
  background: theme.$bg;
  margin-bottom: 12px;
  padding: 12px 16px;
  border: theme.$borderstyle theme.$borderwidth theme.$border;
  border-radius: theme.$radius;
}
.notification-icon {
  margin-right: 12px;
}
.notification-text {
  font-family: theme.$font;
  font-size: 17px;
  color: theme.$fg;
  font-weight: 400;
}

