@use "./theme";

.osd-window {
  background: transparent;
  padding: 0;
  margin: 0;
}
.osd-container {
  background: theme.$bg;
  padding: 12px 16px;
  border: solid 1px theme.$border;
  border-radius: theme.$radius;
}
.osd-text {
  font-family: theme.$font;
  font-size: 17px;
  color: theme.$fg;
  font-weight: 400;
}

